*.pyc
*.tar
*.aria2
aria_links.txt
AriaDigitalTwin_ATEK_download_urls.json
talos_training_data.npy
nymeria_download_urls.json
talos_cache.pt
closed_loop_trajectory.csv
motion.vrs
nymeria_trajectory.csv
IDOL/
llama/
nymeria/
Legacy/
archive/
golden_train.npy
golden_val.npy
*.pth
*.pt
*.npy
*.csv
*.feather
*.log
*.pdf
*.png.env
